<div ng-app="chessModule">
    <div id="chessApp" ng-controller="ChessController">
        <div id="board" style="width: 400px"></div>
        <promotion-dialog show='modalShown'>
            <img src="/img/chesspieces/alpha/bQ.png" ng-click="promotionClick('q')" class="piece-417db pointerhover"/>
            <img src="/img/chesspieces/alpha/bN.png" ng-click="promotionClick('n')" class="piece-417db pointerhover"/>
            <img src="/img/chesspieces/alpha/bR.png" ng-click="promotionClick('r')" class="piece-417db pointerhover"/>
            <img src="/img/chesspieces/alpha/bB.png" ng-click="promotionClick('b')" class="piece-417db pointerhover"/>
        </promotion-dialog>
    </div>
    <div id="chessHistory" ng-controller="HistoryController">
        <table id="moveList">
            <tr ng-repeat="movePair in moves">
                <td>{{movePair.white.toSAN()}}</td>
                <td>{{movePair.black.toSAN()}}</td>
            </tr>
        </table>
    </div>
</div>
